*
img{
    width: 160px;
}
button{
    float: right;
}
li{
    list-style: none;
    float: right;
    padding: 10px;
    
     
}
#but{
    background-color: greenyellow;
    color: white;
    border: 5px;
    margin: 10px;
}
#fot{
    float: left;
    background-color: greenyellow;
    color: white;
    border-radius: 6px;
    border-color: greenyellow;
}
#pot{
    margin: 10px;
    color: greenyellow;
    background-color: white;
    border-color: greenyellow;
    border-radius: 5px;
}