
h1{
    
    border: 1px solid black ; 
    height: 500px;
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
}
h2{
    border: 1px solid black;
    height: 500px;
    width: 500px;
    padding: 20px;
}