.container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 300px;
    width: 300px;
    grid-row: 10px;
    grid-column: 7px;
    
}
.item{
    background-color: whitesmoke;
    border-radius: 5px;
    padding-top: 20px;
}
#item{
    background-color: black;
    border-radius: 5px;
    color: darkgray;
    padding-top: 20px;
}